/* ajustes previos generales */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #3b3b3b;
  font-family: sans-serif;
}

* img {
  max-width: 100%;
  padding: 1rem;
}

/* INDEX + HEADERS Y FOOTERS */
header {
  background-color: #5f9fa1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar {
  margin: 1.5rem;
}

main {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-row-gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section {
  background-color: #b3b3b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main p {
  margin: 0rem 1rem 0.3rem 1rem;
}

/* estilos footer */
footer {
  background-color: #5f9fa1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer iframe {
  margin: 1rem;
  width: 25vw;
  height: 25vh;
}

footer aside {
  margin: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/* contacto */
main div {
  background-color: #b3b3b3;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main div button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* mediaquery */
@media screen and (min-width: 900px) {
  .section2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section img {
    width: 40vw;
    height: 52vh;
  }
  section p {
    max-width: 45vw;
  }
}
/*# sourceMappingURL=estilos.css.map */