@charset "UTF-8";
/* ajustes previos generales */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #3b3b3b;
  font-family: sans-serif;
}

* img {
  max-width: 100%;
}

/* INDEX + HEADERS Y FOOTERS */
header {
  background-color: #5f9fa1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar {
  margin: 1.5rem;
}

.index-main {
  padding: 30px;
  margin: 1rem;
  background-color: #b3b3b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.index-main h1 {
  padding-bottom: 1rem;
}

/* estilos footer */
footer {
  background-color: #5f9fa1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer iframe {
  margin: 1rem;
  width: 25vw;
  height: 25vh;
}

footer aside {
  margin: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/* contacto */
.contacto-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto-main .container {
  background-color: #b3b3b3;
  margin: 1rem;
  padding: 1rem;
}

.contacto-main .container h2, .contacto-main .container #contactbutton {
  text-align: center;
}

/** mobile**/
.main-productos {
  padding: 10px;
  margin: 1rem;
  background-color: #b3b3b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-productos h2 {
  padding: 10px;
}

.main-productos h2, .main-productos p {
  text-align: center;
}

.main-productos div img {
  padding: 10px;
}

/**tablets**/
@media screen and (min-width: 768px) {
  .galeria {
    padding: 10px;
    margin: 1rem;
    background-color: #b3b3b3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[9];
        grid-template-rows: repeat(9, 1fr);
  }
  .galeria .grande {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    grid-row: span 2;
  }
}

/** solo es un tamaño intermedio que agregué por si acaso puesto que a partir de 880px se empezaba a deformar **/
@media screen and (min-width: 880px) {
  .galeria {
    padding: 10px;
    margin: 1rem;
    background-color: #b3b3b3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
  }
  .galeria .grande {
    grid-column: span 1;
    grid-row: span 1;
  }
}

/**desktop**/
@media screen and (min-width: 1024px) {
  .galeria {
    padding: 10px;
    margin: 1rem;
    background-color: #b3b3b3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
  .galeria #prod1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .galeria #prod2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .galeria #prod3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .galeria #prod4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .galeria #prod5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .galeria #prod6 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .galeria #prod7 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .galeria #prod8 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .galeria #prod9 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .galeria #prod10 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
  .galeria #prod11 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .galeria #prod12 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .galeria #prod14 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .galeria #prod13 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5/7;
  }
  .galeria #prod15 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .galeria div img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.main-servicios {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-row-gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-servicios section {
  background-color: #b3b3b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-servicios section img {
  padding: 1rem;
}

.main-servicios section p {
  margin: 0rem 1rem 0.3rem 1rem;
}

/* mediaquery para tablets y desktop*/
@media screen and (min-width: 768px) {
  .main-servicios .section2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .main-servicios section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-servicios section img {
    width: 40vw;
    height: 50vh;
  }
  .main-servicios section p {
    max-width: 45vw;
  }
}

.main-nosotros {
  padding: 30px;
  margin: 1rem;
  background-color: #b3b3b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .main-nosotros {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
  .main-nosotros .abtxt1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .main-nosotros .abimg1 {
    width: 43vw;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .main-nosotros .abimg2 {
    width: 43vw;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .main-nosotros .abtxt2 {
    padding-top: 1rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}
/*# sourceMappingURL=estilos.css.map */