/* ajustes previos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(59, 59, 59);
    font-family: sans-serif;

}

img {
    max-width: 100%;
    padding: 1rem;

}

/* INDEX + HEADERS Y FOOTERS */
header {
    background-color: cadetblue;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    margin: 1.5rem;
}

main {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    background-color: rgb(179, 179, 179);
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.txt {
    margin: 0rem 1rem 0.3rem 1rem;
}

/* estilos footer */

footer {
    background-color: cadetblue;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.map {
    margin: 1rem;
}

.logo-footer {
    display: none;
}

aside {
    margin: 1rem;
    align-self: flex-end;
}

/* contacto */
form {
    background-color: rgb(179, 179, 179);
    padding: 1rem;
}

/* mediaquery */

@media screen and (min-width:900px) {
    section {
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .section img {
        width: 45vw;
        height: 35vh;
    }

    .section1 .txt, .section3 .txt {
        grid-column-start: 2;
    }

    .section2 .txt{
        grid-column-start: 1;
        grid-row-start:1;
    }

    .section2-img {
        grid-column-start: 2;
        grid-row-start:1;
    }

    .logo{
        width:12vw;
    }

    .logo-footer {
        display: block;
        align-self:center;
    }
}