/* contacto */
.contacto-main {
   display: flex;
   justify-content: center;
   align-items: center;

   .container {
      background-color: $colorFondos;
      margin: 1rem;
      padding: 1rem;
      
      
      h2, #contactbutton {
         text-align:center;
         
      }

   }
   
}