/* ajustes previos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(59, 59, 59);
    font-family: sans-serif;

    img {
        max-width: 100%;
        
    }

}
