/* INDEX + HEADERS Y FOOTERS */
header {
    background-color: $colorHeader;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar {
        margin: 1.5rem;
    }

}

.index-main{
    padding: 30px;
    margin: 1rem;
    background-color: $colorFondos;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    text-align: center;
  

    div img {
        height: 200px;
    }
}



/* estilos footer */

footer {
    background-color: $colorHeader;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

    iframe {
        margin: 1rem;
        width: 25vw;
        height: 25vh;
    }

    aside {
        margin: 1rem;
        align-self: flex-end;
    }
}

/** mediaqueries **/

@media screen and (min-width:425px){

    #carouselExampleControls img {
        height: 300px;
    }

}

@media screen and (min-width:$tablet){

    #carouselExampleControls img {
        height: 400px;
    }

}

@media screen and (min-width:$desktop){

    .index-main{
        padding: 30px;
        margin: 1rem;
        background-color: $colorFondos;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows:auto;
        grid-gap: 1rem;
        text-align: center;
      
        .banner {
            grid-column: 1/3;
            grid-row:1/2;
        }

        h1{
            grid-column: 1/3;
            grid-row:2/3;
        }

        #carouselExampleControls {
            grid-column: 1/2;
            grid-row:3/4;
        }

        section {
            grid-column: 2/3;
            grid-row:3/4;
        }
        

} }
