.main-nosotros {
    padding: 30px;
    margin: 1rem;
    background-color: $colorFondos;
    display: flex;
    flex-direction: column;
    text-align: center;


}

@media screen and (min-width:$tablet) {
    .main-nosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;

        .abtxt1 {
            padding: 1.5rem;
            grid-column: 1/3;
            grid-row: 1/2;
        }

        .abimg1 {
            width: 43vw;
            grid-column: 1/2;
            grid-row: 3/4;
        }

        .abimg2 {
            width: 43vw;
            grid-column: 2/3;
            grid-row: 3/4;
        }

        .abtxt2 {
            padding: 1.5rem;
            grid-column: 1/3;
            grid-row: 2/3;
        }
    }}
        @media screen and (min-width:1300px) {
            .main-nosotros {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: auto;

                .abtxt1 {
                    padding: 1.5rem;
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                .abimg1 {
                    width: 40vw;
                    grid-column: 2/3;
                    grid-row: 1/2;
                }

                .abimg2 {
                    width: 40vw;
                    grid-column: 1/2;
                    grid-row: 2/3;
                }

                .abtxt2 {
                    padding: 1.5rem;
                    grid-column: 2/3;
                    grid-row: 2/3;
                }


            }
        }
    
