/** mobile**/
.main-productos {
    padding: 10px;
    margin: 1rem;
    background-color: $colorFondos;
    display: flex;
    flex-direction: column;

    h2 {
        padding: 10px;
    }

    h2, p {
        text-align: center;
    }

    div img {
        padding: 10px;
    }
    
}

/**tablets**/
@media screen and (min-width:$tablet) {
    .galeria {
        padding: 10px;
        margin: 1rem;
        background-color: $colorFondos;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);

        .grande {
            grid-column: 1/3;
            grid-row: span 2;
        }

    }
}
    /** solo es un tamaño intermedio que agregué por si acaso puesto que a partir de 880px se empezaba a deformar **/
    @media screen and (min-width:880px) {
        .galeria {
            padding: 10px;
            margin: 1rem;
            background-color: $colorFondos;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, 1fr);

            .grande {
                grid-column: span 1;
                grid-row: span 1;
            }
        }
        
    }

    /**desktop**/
    @media screen and (min-width:$desktop) {
        .galeria {
            padding: 10px;
            margin: 1rem;
            background-color: $colorFondos;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(6, 1fr);

            #prod1 {
                grid-column: 1/2;
                grid-row: 1/2;
            }

            #prod2 {
                grid-column: 2/3;
                grid-row: 1/2;
            }

            #prod3 {
                grid-column: 3/4;
                grid-row: 5/6;
            }
            
            #prod4 {
                grid-column: 4/5;
                grid-row: 5/6;
            }
            
            #prod5 {
                grid-column: 1/2;
                grid-row: 2/3;
            }

            #prod6 {
                grid-column: 2/3;
                grid-row: 2/3;
            }
            
            #prod7 {
                grid-column: 3/4;
                grid-row: 6/7;
            }
            
            #prod8 {
                grid-column: 4/5;
                grid-row: 6/7;
            }
            
            #prod9 {
                grid-column: 1/2;
                grid-row: 3/4;
            }
            
            #prod10 {
                grid-column: 2/4;
                grid-row: 3/5;
            }
            
            #prod11 {
                grid-column: 4/5;
                grid-row: 3/4;
            }
            
            #prod12 {
                grid-column: 1/2;
                grid-row: 4/5;
            }
            
            #prod14 {
                grid-column: 4/5;
                grid-row: 4/5;
            }
            
            #prod13 {
                grid-column: 1/3;
                grid-row: 5/7;
            }
            
            #prod15 {
                grid-column: 3/5;
                grid-row: 1/3;
            }

            div img:hover {
                transform: scale(1.2);
            }
        }
        
    }